@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.navbar-bg {
  /* background-image: linear-gradient(to right top, #2196ce, #2095ce, #1f95ce, #1f94cd, #1e93cd, #1f93cd, #1f94ce, #2094ce, #2295cf, #2497d0, #2598d0, #2799d1); */
  background-color: #038ac9;
  box-shadow: 0 0 2px #ccc;
  z-index: 99999;
}

.nav-link {
  border: 1px solid transparent;
}

.active-nav-link {
  border-bottom-color: white;
  opacity: 1;
}

.font-stylish {
  font-family: 'Alegreya', serif;
}

.rulers {
  display: flex;
  flex-direction: row;
}

.rulers:before,
.rulers:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid #ccc;
  margin: auto;
}

.rulers:before {
  margin-right: 10px
}

.rulers:after {
  margin-left: 10px
}

.ticker-wrapper-h {
  display: flex;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.ticker-wrapper-h .heading {
  background-color: #038ac9;
  color: #fff;
  padding: 5px 10px;
  flex: 0 0 auto;
  z-index: 3;
}

.ticker-wrapper-h .heading:after {
  content: "";
  position: absolute;
  top: 0;
  border-left: 20px solid #038ac9;
  border-top: 17px solid transparent;
  border-bottom: 15px solid transparent;
}


.news-ticker-h {
  display: flex;
  margin: 0;
  padding: 0;
  padding-left: 5%;
  z-index: 2;

  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-name: tic-h;
  animation-duration: 30s;

}

.news-ticker-h:hover {
  animation-play-state: paused;
}

.news-ticker-h li {
  display: flex;
  width: 100%;
  align-items: center;
  white-space: nowrap;
  padding-left: 20px;
}

.news-ticker-h li a {
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.8;
}

.news-ticker-h li a:hover {
  color: #000;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 1;
}

@keyframes tic-h {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }

  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}

.overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 5;
}

.mobile-nav-menu {
  background-color: #5eb5de;
  box-shadow: 2px 0 7px -10px #333;
  animation: 300ms in-out forwards;
}

@keyframes in-out {
  0% {
    width: 0;
  }

  100% {
    width: 70;
  }
}
