@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
}

.navbar-bg {
  background-image: linear-gradient(to right top, #2196ce, #2095ce, #1f95ce, #1f94cd, #1e93cd, #1f93cd, #1f94ce, #2094ce, #2295cf, #2497d0, #2598d0, #2799d1);
  box-shadow: 0 0 2px #ccc;
  z-index: 99999;
}

.nav-link {
  border: 1px solid transparent;
}

.active-nav-link {
  border-bottom-color: white;
  opacity: 1;
}

.font-stylish {
  font-family: 'Alegreya', serif;
}

.rulers {
  display: flex;
  flex-direction: row;
}

.rulers:before,
.rulers:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}

.rulers:before {
  margin-right: 10px
}

.rulers:after {
  margin-left: 10px
}
